<% if (page.comments) { %>
  <% if (theme.comment === 'gitment') { %>
    <!-- Gitment START -->
    <div id="comments"></div>
    <!-- Gitment END -->
  <% } else if (theme.comment === 'disqus') { %>
    <!-- Disqus START -->
    <div id="disqus_thread"></div>
    <!-- Disqus END -->
  <% } else if (theme.comment === 'isso') { %>
    <!-- Isso START -->
    <script data-isso="<%- theme.isso_data %>" src="<%- theme.isso_data_source %>" data-isso-css="false" data-isso-reply-to-self="<%- theme.isso_reply_to_self ? 'true' : 'false' %>", data-isso-require-author="<%- theme.isso_require_author ? 'true' : 'false' %>", data-isso-require-email="<%- theme.isso_require_email ? 'true' : 'false' %>"></script>
    <section id="isso-thread"></section>
    <!-- Isso END -->
  <% } else { %>
    <!-- No Comment -->
  <% } %>
<% } %>
